/* search */

@font-face {
    font-family: retro;
    src: url(font.ttf);
    font-size: 2em;
    size-adjust: 50%;

}

body {
    margin: 0px;
    overflow: hidden;
}

.background-splash {
    background-color: rgb(55, 55, 55);
    background-image: url('https://tr.rbxcdn.com/cd93fbdfb7c6d36c5755ff3b7a0d7560/512/512/Image/Png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-origin: content-box;
    background-position-x: center;
    filter: blur(12px) contrast(1.01) hue-rotate(2deg);
    position: absolute;
    width: 102vw;
    height: 104vh;
    top: -2vh;
    left: -1vw;
    z-index: -5;
}

.LIBRARY-text {
    position: absolute;
    left: 40vw;
    align-content: center;
    color: rgb(43, 83, 226);
    font-size: 5vw;
    text-shadow: -3px 3px 9px rgb(0 0 0), -3px 3px 20px #FFEB3B, -3px 3px 20px rgb(0 44 253), 0px 0px 50px rgb(0, 0, 0), 0px 0px 50px rgb(0, 0, 0)
}

.SEARCH-text {
    position: absolute;
    left: 38vw;
    top: 17vh;
    align-content: center;
    color: rgb(43, 174, 226);
    font-size: 2vw;
    text-shadow: -3px 3px 20px rgb(0 0 0), -3px 3px 20px #FFEB3B, -5px 4px 20px rgb(0 44 253), 0px 0px 50px rgb(0, 0, 0)
}

.searcharea::placeholder {
    color: rgb(152, 255, 152);
    font-size: 1.2vw;
}

.searcharea {
    transition: 100ms;
    left: 38vw;
    top: 25vh;
    width: 28vw;
    position: absolute;
    color: white;
    background-color: rgba(79, 50, 84, 0.8);
    resize: vertical;
    border-radius: 0.4vh;
    font-size: 1vw;
}

.searcharea:focus {
    transition: 500ms;
    box-shadow: 0px 0px 500px black;
    color: lime;
    font-size: 1.2vw;
    font-weight: 200;
}

.searcharea:hover {
    transition: 230ms;
    box-shadow: 0px 0px 500px black;
    font-size: 1.2vw;
    font-weight: 200;
}

.status {
    position: absolute;
    bottom: 5px;
    width: 100vw;
    font-size: 2vw;
    margin: 0px;
    text-align: center;
    color: white
}

.search-button {
    transition: 100ms;
    left: 60.2vw;
    top: 22vh;
    width: 6vw;
    height: 3vh;
    position: absolute;
    color: white;
    background-color: rgba(79, 50, 84, 0.8);
    resize: vertical;
    border-radius: 0.4vh;
    font-size: 1vw;
}

.search-button:hover {
    transition: 100ms;
    font-weight: 1000;
    color: rgb(51, 255, 0);
}


/* query */

.splash {
    /* height:100vh;  */
    width: 100vw;
    background-color: rgba(0, 159, 8, 0.092);
    padding: 0px;
    padding-bottom: 0;
    background: linear-gradient(355deg, #0f0 12%, transparent 12%, transparent 97%, #0f0 89%, #0f0), linear-gradient(19deg, #afa 25%, transparent, 20%, transparent 85%, #afa 85%, #afa);
    /* background-size: 100% 100%; */
    position: absolute;
}

.qbody {
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-y: visible;
    overflow-x: hidden;
}

.you-searched-for {
    font-family: retro;
    text-align: left;
    width: 95vw;
    font-size: 5vh;
    position: relative;
    margin: 0px;
    top: 5vh;
    left: 2vw;
    /* color:rgb(51, 255, 0); */
}

.search-content {
    width: 100vw;
}

.err-nocontent-hid {
    display: none;
}

.err-nocontent-prime {
    font-family: retro;
    position: relative;
    left: 3vw;
    top: 10vh;
    width: calc(100vw - 6vw);
    height: 10vh;
    filter: brightness(0.6);
    border-radius: 0.2vw;
    box-shadow: inset 0vh 0vh 1vh 2vh rgb(255, 0, 0), 0vw 0vw 1vh 4vh rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 1);
}

.err-nocontent {
    transition: 500ms;
    font-family: retro;
    position: relative;
    left: 3vw;
    top: 10vh;
    width: calc(100vw - 6vw);
    height: 50vh;
    filter: brightness(2);
    border-radius: 1vw;
    box-shadow: inset 0vh 0vh 2vh 2vh rgb(255, 0, 0), 0vw 0vw 4vh 4vh rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.4);
}

.err-nocontent-spacer-hid {
    height: 0;
    width: 20vw;
    position: relative;
}

.err-nocontent-spacer {
    transition: 200ms;
    height: 60vh;
    width: 20vw;
    position: relative;
}

.err-middle {
    font-family: retro;
    position: relative;
    left: 3vw;
    top: 2vh;
}

.card {
    background: rgba(143, 255, 109, 0.317);
    border-radius: 2vw;
    box-shadow: 0 1vw 6vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3vw);
    -webkit-backdrop-filter: blur(3vw);
    border: 0.2vw solid rgba(165, 255, 138, 0.76);
    /* margin-top:2vh; */
}
.card.cardscaler {
    position:relative; 
    height:40vh;
    width:80vw;
    left:10vw;
}
.card.cardscaler name {
    position:absolute; 
    height:20%;
    width:90%;
    left:2%;
    top:2%;
    font-weight: 1000;
    font-size: 2vw;
}
.card.cardscaler description {
    position:absolute; 
    height:56%;
    width:90%;
    left:5%;
    top:20%;
    font-style:italic;
    font-size: 1.6vw;
}
.card.cardscaler author {
    position:absolute; 
    height:15%;
    width:75%;
    left:2vw;
    top:83%;
    font-size: 3vw;
}
.card.cardscaler copy {
    position:absolute; 
    height:15%;
    width:20%;
    left:80%;
    top:85%;
    font-size: 3vw;
}
.card.cardscaler copy button {
    border:0px;
    padding: 0px;
    margin: 0px;
    font-size: 75%;
    position: absolute;
    width:100%;
    height:100%;
    color:lime;
    background-color: rgb(67, 67, 67);
    border-radius: 0.5vw 0.5vw 2vw 0.5vw;
}


/* topbar */

.static-bar {
    background: rgba(61, 61, 61, 0.317);
    border-radius: 0vw 0vw 2vw 2vw;
    box-shadow: 0 1vw 6vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2vw);
    -webkit-backdrop-filter: blur(2vw);
    border: 0.2vw solid rgba(62, 62, 62, 0.76);
    width:100vw;
    height:5vh;
    position: sticky;
    top:0vh;
    z-index: 9;
    /* margin-top:2vh; */
}

.static-bar github {
    position: absolute;
    right:8vw;
    top:0.5vh;
    width:3vw;
    height:1vh;
}
.static-bar github2 {
    position: absolute;
    right:3vw;
    top:0.5vh;
    width:3vw;
    height:1vh;
}